.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background-color: red;
}


.ex-2-square {
    transition: 3s ease-out;
}

.ex-2-square:active {
    width: 100%;
}


.ex-3-square {
    transition: .5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}


.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    background-color: transparent;
}