.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background-color: red;
}


.ex-2-square {
    transition: 3s ease-out;
}

.ex-2-square:active {
    width: 100%;
}


.ex-3-square {
    transition: .5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}


.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    background-color: transparent;
}


.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}


.ex-6-img:hover {
    filter: grayscale(100%);
}


.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: sepia(70%);
}


.ex-8-img {
    transition: border-radius 2s, filter 2s; 
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: sepia(70%);
    filter: blur(10%);
}